html{margin: 0; padding: 0; height: 100%;}
    body {
        background-color: whitesmoke;
        
        
        
        
}

button {
    margin: 20px;
}
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}


.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
    
}
.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.w-btn-green {
    background-color: #77af9c;
    color: #d7fff1;
}
.w-btn-green-outline {
    border: 3px solid #77af9c;
    color: darkgray;
}
.w-btn-green-outline:hover {
    background-color: #77af9c;
    color: #d7fff1;
}
.w-btn-brown {
    background-color: gray;
    color: white;
}

.w-btn-yellow {
        background-color: white;
        color: #6e6e6e;
    
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}

.login-form{
    
    border-radius: 9px;
    width: 300px;
    background-color: oldlace;
    padding:20px;
    margin : 50px auto;
    border-color: black;
}
.text-field{
    font-size: 14px;
    padding : 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border : none;
    width : 100%;
    box-sizing: border-box;
}
.ab{
    font-size: 14px;
    padding : 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border : none;
    
    box-sizing: border-box;
}



.links {
    text-align: center;
    margin:30px;
}

.submit-btn {
    
    margin-top: 20px;
    font-size : 14px;
    color : black;
    padding : 10px;
    border-radius: 5px;
    background-color: white;
    border : none;
    width : 100%;

}
.submit-btn1 {
    
    margin-top: 20px;
    font-size : 14px;
    color : white;
    padding : 10px;
    border-radius: 5px;
    background-color: yellowgreen;
    border : none;
    width : 100%;

}
.submit-btn:hover {
    
    background-color: whitesmoke;
    cursor: pointer;
}
.submit-btn1:hover{
    cursor: pointer;
    background-color: skyblue;
    color: black;
}

section {
    
    margin-bottom: 10px;
    padding: 20px 6vmin;
    background-color: white;
    border-bottom: 1px solid white;
    box-shadow: 0 5px 20px rgba(97, 32, 32, 0.1);
}

h1{
    font: italic bold 40px consolas, sans-serif;
}

.card {
    background: whitesmoke;
    border-radius: 2px;
    display: inline-block;
    height: 100%;
    margin: 1rem;
    position: relative;
    width: auto;
    
  }

  .card-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  .jOGUyo {
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 20px 24px;
    font-size: 14px;
    color: rgb(17, 17, 17);
    resize: none;
}
#area{
    width: 300px;
    height: 30px;
    background-color: white;
}
#등록하기{
    margin-left: 130px;
}
#abcd{
    background-color:cornsilk;
}
#as{
    background-color: white;
}
#op{
    background-color:cornsilk;
}


