html{margin: 0; padding: 0; height: 100%;}
    body {
        background-color: whitesmoke;        
        
}
nav{width: 100%; height: 100%; float:left; background: wheat}

h1{
    font: italic bold 40px consolas, sans-serif;
}

button {
    margin: 20px;
}
.w-btn {
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}

.w-btn-outline {
    position: relative;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
.w-btn-sky{
    background-color: whitesmoke;
    color: black;

}

.w-btn-indigo {
    background-color: aliceblue;
    color: #1e6b7b;
    
}
.w-btn-indigo-outline {
    border: 3px solid aliceblue;
    color: #1e6b7b;
}

.w-btn-indigo-outline:hover {
    color: #1e6b7b;
    background: aliceblue;
}

.w-btn-green {
    background-color: #77af9c;
    color: #d7fff1;
}
.w-btn-red {
    
    color: black;
    margin-left: 150px;
    margin-top: 150px;
}
.w-btn-green-outline {
    border: 3px solid #77af9c;
    color: darkgray;
}
.w-btn-green-outline:hover {
    background-color: #77af9c;
    color: #d7fff1;
}
.w-btn-brown {
    background-color: gray;
    color: white;
}

.w-btn-yellow {
    background-color: white;
        color: #6e6e6e;
}

.w-btn:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn-outline:hover {
    letter-spacing: 2px;
    transform: scale(1.2);
    cursor: pointer;
}

.w-btn:active {
    transform: scale(1.5);
}

.w-btn-outline:active {
    transform: scale(1.5);
}

h3{
    margin-left: 100px;
}


.a{
    height:300px;
    width: 200px;
    float: left;
    overflow:hidden;
    margin-top: 90px; 
    margin-left: 80px;
    padding: 5px 12px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.12), 5px 5px 5px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-color: white;
     
    
}
.a:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



.button {
    position: absolute;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    
  }

section {
    
    margin-bottom: 10px;
    padding: 20px 6vmin;
    background-color: white;
    
   
}
.b{
    height:250px;
    width: 200px;
    float: left;
    overflow:hidden;
    margin-top: 90px; 
    margin-left: 80px;
    padding: 5px 12px;
    box-shadow: 5px 5px 5px  gray ;
    background-color: white;
    clear: both;
    
    
    

}
fieldset{
    margin-left: 1000px;
    

}
select{
    margin-left: 100px;
    
}
#total{
    margin-left: 200px;
    text-align: center;

}
#t{
    text-align: center;
    margin-right: 30px;
}

