<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>베이커리
    </title>
    <link rel="stylesheet" href="style3.css">
</head>
<style>
    


    
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">

</script>


<body>
    
   
    <header><h1><center>Bakery</center></h1> </header>
    <section><center> 
    <button class="w-btn w-btn-indigo" onclick="location.href='메뉴.html'"> 
    뒤로</button>
    <button class="w-btn w-btn-sky" onclick="location.href='결정하기.html'">
        <type="button">
        결정하기
        </button> 
     
    <type="button">
    <button class="w-btn w-btn-yellow" onclick="location.href='회원가입.html'">
    건의하기
    </button>
    
    
    
    
    
    </center></section>
</section>

<nav>
    
    
    
    
<div class="a">   
    <img src="img/소보루빵.jpg" alt="소보루" height="200">
    <h4>소보로빵<input type="checkbox"></h4> 
        수량: <input type="number" ng-model="a" min="0" max="20">
        가격: 1,700
        
    

    
</div>


<div class="a">
    <img src="img/소시지빵.jpg" alt="소시지" height="200">
    <h4>소시지빵<input type="checkbox"></h4>
        수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,000
        
        </div>
    
    

    
    
   
    
    
</div>




<div class="a">
    <img src="img/소금빵.jpg" alt="소금" height="200">
    <h4>소금빵<input type="checkbox"></h4>
    수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
    
    

</div>


<div class="a">
    <img src="img/바게트빵.jpg" alt="바게트" height="200">
    <h4>바게트빵<input type="checkbox"></h4>
    수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
    
</div>



<div class="a">
    <img src="img/식빵.jpg" alt="식빵" height="200">
    <h4>식빵<input type="checkbox"></h4>
    수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
     
</div>

    


<div class="a">
    <img src="img/슈크림빵.png" alt="슈크림" height="200">
    <h4>슈크림빵<input type="checkbox"></h4>
    수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>

</div>


<div class="a">
    <img src="img/팥빵.png" alt="팥" height="200">
    <h4>팥빵<input type="checkbox"></h4>
    수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
    
</div>

<div class="a">
    <img src="img/밤식빵.jpg" alt="밤" height="200">
    <h4>밤식빵<input type="checkbox"></h4>
    수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
    
</div>
<div class="a">
    <img src="img/맘모스.jpg" alt="맘모스" height="200">
    <h4>맘모스빵<input type="checkbox"></h4>
    수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
    
</div>

<div class="a">
    <img src="img/통밀빵.jpg" alt="통밀빵" height="200">
    <h4>통밀빵<input type="checkbox"></h4>
    수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
    
</div>

<div class="a">
    <img src="img/샌드위치.jpg" alt="통밀빵" height="200">
    <h4>샌드위치<input type="checkbox"></h4>
    수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
    
</div>
<div class="a">
    <img src="img/모닝빵.jpg" alt="모닝빵" height="200">
    <h4>모닝빵<input type="checkbox"></h4>
    수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
    


</div>
<div class="a">
    <img src="img/모카빵.jpg" alt="모카빵" height="200">
    <h4>모카빵<input type="checkbox"></h4>
    수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
    


</div>
<div class="a">
<img src="img/파이.jpg" alt="애플파이" height="200">
    <h4>애플파이<input type="checkbox"></h4>
    수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
</div>

<div class="a">
    <img src="img/찹살도넛.jpg" alt="찹살도넛" height="200">
        <h4>찹살도넛<input type="checkbox"></h4>
        수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
    </div>

    <div class="a">
        <img src="img/꽈배기.jpg" alt="꽈배기" height="200">
            <h4>꽈배기<input type="checkbox"></h4>
            수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
        </div>

        <div class="a">
            <img src="img/크림치즈마늘빵.jpg" alt="크림치즈" height="200">
                <h4>크림치즈마늘빵<input type="checkbox"></h4>
                수량: <input type="number" ng-model="b" min="0" max="20">
        가격: 2,500
        
        </div>
            </div>
            <button class="w-btn w-btn-red" onclick="location.href='결정하기.html'">
                <center>
                <type="button">
                결정하기
                </button></center>


    
    
</nav>

</body>



</html>